In [ ]:
x=5
print(type(x))

In [ ]:
y='john'
print(type(y))

In [ ]:
x=True
print(type(x))

In [ ]:
x=1j
print(type(x))

In [ ]:
x=3.8
print(type(x))

In [ ]:
x=5
x=float(x)
print(x)

In [ ]:
x=2.5
print(int(x))

In [ ]:
x=1
print(complex(x))

In [ ]:
name='hello world'
print(name[6])

In [ ]:
print(name[:5])

In [ ]:
print(name[-5:])

In [ ]:
a=int(input('enter first number: '))
b=int(input('enter second number: '))
print(a+b)
print(a-b)
print(a*b)
print(a/b)

In [ ]:
c='james'
mid=int(len(c)/2)
d=c[0]+c[mid]+c[-1]
print(d)

In [ ]:
e='abcde'
mid=int(len(e)/2)
f=e[mid-1]+e[mid]+e[mid+1]
print(f)

In [ ]:
s1='ault'
s2='kelly'
mid=len(s1)//2
print(s1[:mid]+s2+s1[mid:])

In [ ]:
s1='america'
s2='japan'
mid1=len(s1)//2
mid2=len(s2)//2
print(s1[0]+s2[0]+s1[mid1]+s2[mid2]+s1[-1]+s2[-1])

# string

In [ ]:
j=0
inp='google.com'
for i in inp:
    j=inp.count(i)
    print(i,':',j)

In [ ]:
str1=input('enter a string: ')
if len(str1)==2:
    print(str1+str1)
elif len(str1)<2:
    print('empty')
else:
    print(str1[:2]+str1[-2:])

In [ ]:
j=0
m=0
str2='restart'
j=str2.rfind('r')
m=str2.replace(str2[j],'$')
l='r'+m[1:]
print(l)

In [ ]:
str2 = input('Enter a string value: ')
m = str2[0]
for i in range (1,len(str2)):
    str2 = m+str2[1:].replace(m,'$')
print(str2)

In [ ]:
for i in str2:
    s=str2.index(i)
    print(s)

In [ ]:
a='abc'
b='xyz'
print(b[:2]+a[2:]+' '+a[:2]+b[2:])

In [ ]:
str3=input('enter a string: ')
if str3[-3:]=='ing':
    print(str3+'ly')
elif len(str3)<3:
    print(str3)
else:
    print(str3+'ing')

In [ ]:
str4='The lyrics is not that poor!'
s1=str4.find('not')
s2=str4.find('poor')
if s1!=0 and s2!=0:
    s3=str4.replace('not that poor','good')
print(s3)

In [ ]:
s4='abcd'
s5=s4[-1]+s4[1:-1]+s4[0]
print(s5)

In [ ]:
a=0
s=0
str5='abcdefg'
for i in str5:
    s=str5.find(i)
    if s%2==1:
        str5.replace(str5[s],'')
        print(str5[s])

In [ ]:
a=input('enter a string: ')
a1=a.upper()
a2=a.lower()
print(a1)
print(a2)

In [ ]:
b='python'
b1=b[-2:]+b[-2:]+b[-2:]+b[-2:]
b1

In [ ]:
b[-2:]*4

In [ ]:
c='python'
if len(c)<=3:
    print(c)
else:
    c1=c[:3]
    print(c1)

# Exercise -3 list

1. Write a Python program to multiply all the items in a list.

In [ ]:
d1=1
d=[12,13,14,15]
for i in d:
    d1=d1*i
print(d1)

x

2. Write a Python program to get the largest number from a list.

In [ ]:
e=[1,2,4,3]
for i in e:
    for j in e:
        if i>j:
            e1=i
            for m in e1:
                for l in e1:
                    if m>l:
                        print(m)

In [ ]:
e.sort()
print(e[-1])

3. Write a Python program to get the smallest number from a list.

In [ ]:
e.sort()
print(e[0])

4. Write a Python program to count the number of strings from a given list of
strings. The string length is 2 or more and the first and last characters are the
same.
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2

In [ ]:
f3=0
f=['abc', 'xyz', 'aba', '1221']
for i in f:
    f1=f.index(i)
    f2=f[f1][0]
    if f2==f[f1][-1]:
        f3=f3+1
print(f3)

5. Write a Python program to remove duplicates from a list.

In [ ]:
g1=0
g=['a','b','c','b']
for i in g:
    if i==g1:
        g.remove(i)
    g1=i
print(g1)
print(g)

In [ ]:
g2=set(g)
print(list(g2))

6. Write a Python program to check if a list is empty or not.

In [ ]:
h=['a','b']
h1=len(h)
if h1==0:
    print('list is empty')
else:
    print('list contain values')

7. Write a Python program to find the list of words that are longer than n from a
given list of words.

In [ ]:
n=3
n1=['apple','orange','gua','mg']
for i in n1:
    if len(i)>n:
        print((i))

8. Write a Python program to print a specified list after removing the 0th, 4th and
5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [ ]:
h=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
h.pop(5)  # if we remove 0th index first 
h.pop(4)
h.pop(0)
print(h)

9. Write a Python program to check if each number is prime in a given list of
numbers. Return True if all numbers are prime otherwise False.

In [ ]:
j1=0
j=[1,2,3,5,7,11,13]
for h in j:
    if h<=1:
        j1=1
        break
    for i in range(2,h):
        if h%i==0:
            j1=1
            break
if j1==1:
    print('False')
else:
    print('True')

10. Write a Python program to convert a list of characters into a string.

In [ ]:
k=['apple','orange','gua']
k1=k[0]+k[1]+k[2]
k1

11. Write a Python program to find the second smallest number in a list

In [ ]:
l=[3,4,5,7]
l.sort()
print(l[1])

12. Write a Python program to find the second largest number in a list.

In [ ]:
l.sort()
print(l[-2])

13. Write a Python program to check whether a list contains a sub-list

In [ ]:
flag=0
m=[1,2,[1,2],3,4]
for i in m:
    if type(i)==list:
        flag=1
        break
if flag==1:
    print('sublist')
else:
    print('not sublist')

14. Write a Python program to find common items in two lists

In [ ]:
n=[3,4,5,7]
n1=[3,8,5,9]
n2=set(n).intersection(set(n1))
print(list(n2))

make a 2 player game rock, paper, scissors ask for player using input, compare them print out a message of congratulation to the winner and ask if the players want to start a new game

In [ ]:
print('input only in lower case')
while True:
    player1=input('player 1: ')
    player2=input('player 2: ')
    if player1=='rock':
        if player2=='scissors':
            print('congratulation player 1')
        elif player2=='paper':
            print('congratulation player 2')
    if player1=='paper':
        if player2=='rock':
            print('congratulation player 1')
        elif player2=='scissors':
            print('congratulation player 2')
    if player1=='scissors':
        if player2=='paper':
            print('congratulation player 1')
        elif player2=='rock':
            print('congratulation player 2')
    restart=input('would you like to continue(yes/no): ')
    if restart=='yes':
        continue
    else:
        print('game ended')
        break

Q. arrange string charactors such that lower case letters come first

In [6]:
o='JjoOSmEaPlH'
o1=''
o2=''
for i in o:
    if i.isupper()==True:
        o1=o1+i
    else:
        o2=o2+i
print(o1+o2)

JOSEPHjomal