print numbers 0 to 10 using for loop

In [1]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

print even numbers upto 20

In [3]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

find the sum of natural numbers upto 20

In [7]:
sum=0
for i in range(1,21):
    sum=sum+i
print(sum)

210

print all the items from the given list

In [8]:
list1=[2,8,3,5,7]
for i in list1:
    print(i)

2
8
3
5
7

print the letters from given string

In [9]:
A='apple'
for i in A:
    print(i)

a
p
p
l
e

In [13]:
for i in range(0,len(A)):
    print(A[i])

a
p
p
l
e

find multiplication result of all the items from the list

In [14]:
m=1
list1=[1,2,3,5,6]
for i in list1:
    m=m*i
print(m)

180

write a program to count the number of strings in a given list

In [16]:
sum=0
list1=[1,'a',2,'b','c']
for i in list1:
    if type(i)==str:
        sum=sum+1
print(sum)

3

print items from a given list whose length is more than 2

In [17]:
list1=['ab','xyz','a','1221']
for i in list1:
    if len(i)>2:
        print(i)

xyz
1221

if 1221 is not given as string

In [18]:
list1=['ab','xyz','a',1221]
for i in list1:
    i=str(i)
    if len(i)>2:
        print(i)

xyz
1221

or

In [24]:
list1=['ab','xyz','a',1221]
for i in list1:
    if len(str(i))>2:
        print(i)

xyz
1221

check whether a list contain sublist

In [26]:
list1=['a','b',1,[2,3],'c']
for i in list1:
    if type(i)==list:
        print('sublist')
    else:
        print('not sublist')

not sublist
not sublist
not sublist
sublist
not sublist

to display once

In [27]:
flag=0
for i in list1:
    if type(i)==list:
        flag=1
        break
    else:
        flag=0
if flag==1:
    print('subset')
else:
    print('not sublist')

subset

or

In [35]:
list1=['a','b',1,[2,3],'c',[1,2,3]]
c=0
for i in list1:
    if type(i)==list:
        c+=1
if c>0:
    print('sublist')
    print(c)
else:
    print('not sublist')
    print(c)

sublist
2

### nested for loop

In [1]:
for i in range(0,5):
    for j in range(i+1):
        print(j)

0
0
1
0
1
2
0
1
2
3
0
1
2
3
4

In [3]:
for i in range(5):
    for j in range(i+1):
        print(j+1)

1
1
2
1
2
3
1
2
3
4
1
2
3
4
5

In [13]:
a=['m','na','i','ke']
a1=['y','me','s','lly']
a2=[]
a2.append(a[0]+a1[0])
a2.append(a[1]+a1[1])
a2.append(a[2]+a1[2])
a2.append(a[3]+a1[3])
print(a2)

['my', 'name', 'is', 'kelly']