### 18/08/23 ACLP2 PR

In [3]:
8+3

11

### HEADING

### <center> HEADING

### 02/09/23 ACLP4 AJ

In [2]:
string1='hello_hai'
print(string1)

hello_hai

In [3]:
print(string1[0])

h

In [4]:
print(string1[5])

_

In [9]:
print(string1[0:5])

hello

In [10]:
print(string1[:6])
print(string1[6:])

hello_
hai

In [11]:
print(len(string1))

9

In [12]:
print(string1[-3:])
print(string1[-3:-1])

hai
ha

In [13]:
print(string1.upper())

HELLO_HAI

In [14]:
string1=string1.upper()

In [15]:
print(string1)

HELLO_HAI

In [16]:
string1=string1.lower()
print(string1)

hello_hai

In [17]:
print(string1.replace('h','j'))

jello_jai

In [22]:
print(string1)

hello_hai

In [23]:
str1='kottayam pala kadand'
print(str1)
print(str1.split(' '))

kottayam pala kadand
['kottayam', 'pala', 'kadand']

In [24]:
print(string1+str1)

hello_haikottayam pala kadand

In [27]:
print(string1+' '+str1)

hello_hai kottayam pala kadand

In [34]:
string2='way to home'
str2='kottayam pala kadanad'
print(string2+ ': '+str2)

way to home: kottayam pala kadanad

### 02/09/23 ACLP4 AJ

In [2]:
string1='I am learning python'

print the word python from given string

In [3]:
print(string1[-6:])

python

replace 'l' to 'j'

In [4]:
print(string1.replace('l','j'))   # only replace one charactor

I am jearning python

middle value of given string

In [8]:
mid=len(string1)//2
print(string1[mid])

i

In [9]:
str1='ault'
str2='kelly'
print(str1[:2]+str2+str1[-2:])

aukellylt

or

In [10]:
mid=len(str1)//2
print(str1[:mid]+str2+str1[mid:])

aukellylt

print a new using first letters of st1 and st2 + middle letters of st1 and st2 + last letters of st1 and st2

In [1]:
st1='America'
st2='Japan'
mi1=len(st1)//2
mi2=len(st2)//2
print(st1[0]+st2[0]+st1[mi1]+st2[mi2]+st1[-1]+st2[-1])

AJrpan

# String new

In [2]:
name='raju123'
print(name)

raju123

print 'r' from the above string

In [3]:
print(name[0])

r

print 'j'

In [4]:
print(name[2])

j

print '3'

In [5]:
print(name[6])

3

print '2' using negative indexing

In [6]:
print(name[-2])

2

print 'aju' from above string

In [7]:
print(name[1:4])

aju

In [8]:
print(name[4:7])

123

In [9]:
print(name[:4])

raju

In [11]:
print(name[-3:])

123

find the length of the above string ('name')

In [12]:
print(len(name))

7

create a new string 'abc' named 'letters' and print it in upper case

In [13]:
letters='abc'
print(letters.upper())

ABC

permenent convertion into upper case

In [14]:
letters=letters.upper()
letters

'ABC'

In [15]:
letters=letters.lower()
print(letters)

abc

create a string with space at the beginning (value=' remya') and print with out space (o/p- 'remya')

In [16]:
value1='remya'
value2=' remya'
print(value1)
print(value2)

remya
 remya

In [17]:
print(value1)
print(value2.strip())  #it will avoid space at the begnning

remya
remya

replace 'r' of 'value1' to 'R'

In [18]:
value1

'remya'

In [19]:
print(value1.replace('r','R'))  # replace a value

Remya

In [20]:
val1='remya r mohan'
print(val1.replace('r','i'))  # it will replace all the 'r' in the string

iemya i mohan

In [21]:
val1

'remya r mohan'

split the above string based on ' ' (space)

In [22]:
print(val1.split(' '))

['remya', 'r', 'mohan']

split based on ',' (comma)

In [23]:
val2='remya r,mohan'
print(val2.split(','))

['remya r', 'mohan']

join two strings

In [24]:
a='abc'
b='def'
a+' '+b

'abc def'

format()

In [25]:
name='remya'
age=28
text='my name is {}, my age ia{}'   # variables in format function will appear in {} this brackets
print(text.format(name,age))

my name is remya, my age ia28

In [26]:
text1='my name is {1},my age is {0}' # mentioning the index of variables in format functin
print(text1.format(age,name))        # index of age is 0 and name is 1

my name is remya,my age is 28

create a string (name) that stores a user input

In [27]:
name=input('enter your name: ')
print(name)

enter your name: jomal
jomal

In [28]:
a=int(input('enter a number: '))
b=int(input('enter another number: '))
print(a+b)

enter a number: 5
enter another number: 5
10

format() function using user input

In [30]:
name=input('enter your name: ')
age=input('enter your age: ')
text2='your name is {}, your age is {}'
print(text2.format(name,age))

enter your name: jomal
enter your age: 25
your name is jomal, your age is 25