In [2]:
pythom_list=[1,2,3,'jomal',1]
pythom_list

[1, 2, 3, 'jomal', 1]

tuple

In [3]:
python_tuple=(1,2,3,5)

In [4]:
print(type(python_tuple))

<class 'tuple'>

In [5]:
tuple1=('jomal')  # a value alone is not a tuple
print(type(tuple1))

<class 'str'>

In [11]:
tuple2=(2)
print(type(tuple2))

<class 'int'>

In [12]:
tuple3=('jomal',1,2)
print(type(tuple3))

<class 'tuple'>

In [13]:
tuple4=('jomal',)
print(type(tuple4))

<class 'tuple'>

In [15]:
tuple5=(1,2,3,1)  # tuple allows duplicate values
tuple5

(1, 2, 3, 1)

In [17]:
print(tuple5[0])  # tuples are ordered, can use indexing to print a single value from a tuple

1

In [18]:
print(tuple5[:3])

(1, 2, 3)

In [19]:
print(tuple5[::-1])  # print tuple5 in reverse order
      # start:end:step  (we need vales from begnning to end so both collens are blank)

(1, 3, 2, 1)

In [20]:
tuple5[1]=4  # tuples are unchangable

TypeError: 'tuple' object does not support item assignment

In [21]:
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2

In [23]:
t3    # can add tuples tougather

(1, 2, 3, 4, 5, 6)

how can we change a value in a tuple

In [24]:
l1=list(t1)  # converting t1 to list
l1

[1, 2, 3]

In [25]:
l1[-1]=4  # changing 3 to 4
l1

[1, 2, 4]

In [27]:
t1=tuple(l1) # converting list back to tuple with changed value
t1

(1, 2, 4)

In [28]:
python_set={1,2,3,'jomal'}
python_set

{1, 2, 3, 'jomal'}

In [31]:
python_set  #sets are unordered, it's value order may change any time

{1, 2, 3, 'jomal'}

In [33]:
python_set[0]  # so indexing is not possible

TypeError: 'set' object is not subscriptable

In [34]:
set1={1,2,3,1} # duplicates are not allowed
set1           # will not display duplicated values

{1, 2, 3}

In [35]:
set2={1,2,3,True}  # True is counted as 'one' in python
set2               # so True is not printed

{1, 2, 3}

In [36]:
set3={2,3,True,1}  # hear first 'one'(true) is exicuted and second 'one'skipped
set3

{True, 2, 3}

In [37]:
len(set3)

3

In [49]:
set4={1,3,5,'apple'}

In [50]:
set4[0]=2  # sets are unchangeable

TypeError: 'set' object does not support item assignment

In [51]:
set4.add('orange')
set4

{1, 3, 5, 'apple', 'orange'}

In [52]:
set4.remove('apple')
set4

{1, 3, 5, 'orange'}

In [53]:
set4.discard('orange')
set4

{1, 3, 5}

In [54]:
set4.remove('apple')  # remove will show error if we try to remove a value that is not in the set
set4

KeyError: 'apple'

In [55]:
set4.discard('orange')  # discard will not show error in case value is not in the set
set4

{1, 3, 5}

In [56]:
set4.discard(8)
set4

{1, 3, 5}

In [80]:
s1={1,2,3,4}
s2={4,5,6}

In [81]:
s1+s2  # cant add using '+'

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [90]:
s1.update(s2)  # storing s2 to s1
s1

{1, 2, 3, 4, 5, 6}

In [91]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [88]:
s1

{1, 2, 3, 4, 5, 6}

In [89]:
s2

{4, 5, 6}

In [84]:
s1.intersection(s2)  # display duplicated values

{4, 5, 6}

In [92]:
s1.clear()  # clear the set s1

In [93]:
s1

set()

In [94]:
del s1  # deleting s1

In [95]:
s1

NameError: name 's1' is not defined