# LAMBDA FUNCTION

lambda is an anonymous function,ie; it doesn't have any name.                           
we can pass multiple arguments to the function,but it only allows single argument

In [1]:
y=lambda x:x+1
print(y(5))

6

In [4]:
x=lambda a,b:a+b
print(x(2,3))

5

In [5]:
x=lambda a,b,c:a+b*c
print(x(2,3,6))

20

In [7]:
x=lambda a:'even' if a%2==0 else 'odd' # if function in one line
print(x(2))

even

In [1]:
x=lambda a:a**3
print(x(5))

125

In [2]:
x=lambda n:[i**2 for i in range(n)]
print(x(5))

[0, 1, 4, 9, 16]

In [3]:
y=lambda x:x.upper()
print(y('jomal'))

JOMAL

In [6]:
x=lambda n:sorted(n)
print(x([1,4,8,3,2,2]))   # [] is for saving as a list

[1, 2, 2, 3, 4, 8]

In [8]:
x=[(1,4),(2,5),(3,2)]
x.sort(key=lambda x:x[1])  # key- to sort based on second value
print(x)

[(3, 2), (1, 4), (2, 5)]

In [10]:
y=lambda x:sorted(x)
print(y([(1,4),(3,5),(2,2)]))

[(1, 4), (2, 2), (3, 5)]

In [11]:
models=[{'make':'Nokia','model':216,'color':'Black'},
        {'make':'Mi Max','model':'2','color':'Gold'},
        {'make':'samsung','model':7,'color':'Blue'}]
models.sort(key=lambda x:x['color'])
print(models)

[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

# MAP()

This function uses two arguments: map(function,iterable) iterable may include list,tuple,string etc.                   
The FUNCTION may be userdefined or inbuilt function.

It works as a loop

In [7]:
def cube(n):
    return n**3
print(list(map(cube,[1,2,3,4]))) # it will find cube of each number

[1, 8, 27, 64]

In [1]:
lst=[1,2,3,4]
def cube(n):
    return n**3
print(list(map(cube,lst))) # it will find cube of each number

[1, 8, 27, 64]

In [10]:
def square(n):
    return n**2
print(list(map(square,[1,2,3,4])))

[1, 4, 9, 16]

In [12]:
print(list(map(abs,[1,2,3,-4,-8]))) # abs is an inbuilt function

[1, 2, 3, 4, 8]

In [13]:
from math import sqrt
print(list(map(sqrt,[25,9,36,4])))

[5.0, 3.0, 6.0, 2.0]

In [14]:
print(list(map(lambda x:x+1,[1,2,3,4])))

[2, 3, 4, 5]

In [16]:
print(list(map(lambda x:x.upper(),'Jomal')))

['J', 'O', 'M', 'A', 'L']

# filter()

using a criteria filter function applies filtering to an iterable.

filter(function,iterable)                                                                          
it will iterate through the iterable and filter out all the elements which is not satisfying the condition                    
iterable- set of data   eg- list, tuple, dictionary

In [20]:
def positive(n):
    return True if n>0 else False
print(list(filter(positive,[1,2,3,-1,-2])))

[1, 2, 3]

In [23]:
def positive(n):
    return True if n>0 else False
print(list(map(positive,[1,2,3,-1,-2])))

[True, True, True, False, False]

In [27]:
print(list(filter(lambda x:x.isupper(),'JoMal')))

['J', 'M']

In [28]:
print(list(map(lambda x:x.isupper(),'JoMal')))

[True, False, True, False, False]

In [26]:
print(list(filter(lambda x:x.isalpha(),'JoMal')))

['J', 'o', 'M', 'a', 'l']

In [37]:
print(list(filter(lambda x:x.islower(),'JoMal')))

['o', 'a', 'l']

# reduce()

consider below example, it will do the work (x+y) and store the value in x,                                           
again next item from the list will come to y and will do x+y

In [38]:
from functools import reduce
def sum_list(x,y):
    return x+y
print(reduce(sum_list,[1,2,3,4]))

10

In [39]:
def mult_list(x,y):
    return x*y
print(reduce(mult_list,[1,2,3,4]))

24

In [41]:
print(reduce(lambda x,y:x*y,[1,2,3,4]))  # same as above

24

## lambda function example

In [42]:
def sum_2(a,b):
    print(a+b)
    print(a-b)
sum_2(2,3)

5
-1

In [43]:
x=lambda a,b:a+b
print(x(2,3))

5

In [44]:
x=lambda a:a+1
print(x(5))

6

In [46]:
y=lambda x:x.upper()
y('jomal')

'JOMAL'

In [47]:
y=lambda a,b:a**b
y(2,3)

8

In [48]:
x=lambda a,b,c:a+b*c
print(x(2,3,4))

14

In [50]:
def cube(x):
    return x**3
cube(3)

27

In [51]:
list(map(cube,[1,2,3,4]))

[1, 8, 27, 64]

# Exercise

1.	Write a Python program to square and cube every number in a given list of integers using Lambda.

In [10]:
l1=[2,5,8,10]
def sq_cub(a):
    sq=a**2
    cu=a**3
    print('sqrt of',a,': ',sq)
    print('cube of',a,': ',cu)

list(map(sq_cub,l1))

sqrt of 2 :  4
cube of 2 :  8
sqrt of 5 :  25
cube of 5 :  125
sqrt of 8 :  64
cube of 8 :  512
sqrt of 10 :  100
cube of 10 :  1000

[None, None, None, None]

2.	Write a Python program to find the intersection of two given arrays using Lambda.                                        Original arrays: [1, 2, 3, 5, 7, 8, 9, 10]                                                                          
                        [1, 2, 4, 8, 9]                                                                                     
Intersection of the said arrays: [1, 2, 8, 9]

In [12]:
array1 = [1, 2, 3, 5, 7, 8, 9, 10]
array2 = [1, 2, 4, 8, 9]

intersection = list(filter(lambda x: x in array1, array2))

print("Intersection of the said arrays:", intersection)

Intersection of the said arrays: [1, 2, 8, 9]

3.	Write a Python program to count the even and odd numbers in a given array of integers using Lambda.                 
Original arrays:                                                             
[1, 2, 3, 5, 7, 8, 9, 10]                                                                              
Number of even numbers in the above array: 3                                                             
Number of odd numbers in the above array: 5